@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background text-gray-900 font-sans;
}

table {
  @apply w-full border-collapse;
}

th,
td {
  @apply text-left py-4 px-6;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 8px;
}
